.parent {
    display: flex;
    justify-content: left;
    align-content: center;
    width: 100%;
    background-color: #F3F4F4;
}

.nav-display {
display: flex;
justify-content: space-evenly;
align-content: center;
width: 40%;
}

a {
display: flex;
align-content: center;
justify-content: center;
margin: 25px;
width: 5rem;
border-radius: 2px;
background: transparent; 
}

a:hover {
border-bottom: 2px solid #0500FF;
}

.middle-content {
    background-image: url("../images/sunset.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    color: #F3F4F4;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0 auto;
}

p {
    display: flex;
    justify-content: center;
}

.bottom-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30rem;
    background-color: #111125;
    margin-top: 5px;
}

.invite {
    align-content: center;
    border: 2px solid #14142c;
    border-radius: 2px;
    width: 33.33%;
    color: white;
    margin: 5px;
}

.plan {
    border: 1px solid #14142c;
    border-radius: 2px;
    width: 33.33%;
    color: white;
    margin: 5px;
}

.travel {
    border: 1px solid #14142c;
    border-radius: 2px;
    width: 33.33%;
    color: white;
    margin: 5px;
}

.invite:hover {
    background-color: #ECEDF7;
    color: #111125;
}

.plan:hover {
    background-color: #ECEDF7;
    color: #111125;
}

.travel:hover {
    background-color: #ECEDF7;
    color: #111125;
}
