.button-div {
    width:100%;
    display: flex; // basic flex
    flex-direction: row;
    justify-content: flex-end;
    padding-top: .5%;
    padding-bottom: .5%;
    background-color:  #111125;
  }
  button {
    .button (#000000, 16px);

    &:hover {
      background-color: #ffffff;
      color: black;
    }
  }

.nav-display {
display: flex;
justify-content: space-evenly;
align-content: center;
width: 30%;
border-top: 2px solid white;
}

a {
display: flex;
align-content: center;
justify-content: center;
margin: 25px;
width: 5rem;
border-radius: 2px;
background: transparent; 

    &:hover {
     border-bottom: 2px solid #0500FF;
    }
}